<form class="newGuitarForm" action="/guitars" method="post">
<div>
  <label>New Guitar Model Name: </label>
  <input type="text" name="name">
</div>
<div>
  <label>Make: </label>
  <input type="text" name="make">
</div>
<div>
  <label>Year of Make: </label>
  <input type="text" name="year">
</div>
<div>
  <label>Artists who play this guitar: </label>
  <input type="text" name="played_by">
</div>
<div>
  <label>Image: </label>
  <input type="url" name="image">
</div>
<div class="submitNew">
  <input type="submit" name="Create New Guitar">
</div>
</form>
