<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Dosis:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
    <title>Vintage Guitars</title>
  </head>
  <body>
    <div class="container">
        <nav>
          <a href="/guitars"></a>
          <a href="/guitars">Current Database</a>
          <a href="/guitars/new">Add Guitar</a>
        </nav>
      <h1>Vintage Guitars</h1>
      <%= yield %>
    </div>

  </body>
</html>
